<div class="container">
    <div class="row">
        <form class="col-md-10 col-md-offset-1 well" name="purchaseForm" novalidate>
            <h1 class="text-center">Track a new Purchase!</h1>
            <div>
                <h3 class="text-center">Total: {{ getTotal() | currency }}</h3>
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" ng-model="purchase.title">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" name="price" class="form-control" ng-model="purchase.price">
            </div>
            <div class="form-group">
                <label for="image">Image URL</label>
                <input type="text" name="image" class="form-control" ng-model="purchase.image">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" name="description" id="description" ng-model="purchase.description"></textarea>
            </div>
            <button title="Add Purchase" ng-click="addPurchase(purchase)" class="btn btn-success glyphicon glyphicon-plus center-block"></button>
        </form>  
    </div>

    <section class="row">
        <div class="col-md-10 col-md-offset-1" ng-repeat="purchase in purchaseList track by $index">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="" title="Delete" ng-click="deletePurchase($index, purchase)"><span class="pull-right glyphicon glyphicon-remove"></span></a>
                    <h4 ng-class="{ 'paid text-muted' : purchase.paid }">{{ purchase.title }}</h4>
                </div>
                <div class="panel-body">
                    <img class="center-block" ng-src="{{ purchase.image }}" height="400px" width="600px" alt="Image">
                </div>
                <div class="panel-body">
                    <div>
                        <p ng-class="{ 'paid text-muted' : purchase.paid }">{{ purchase.description }}</p>
                    </div>
                    <br>
                    <div>
                        <p ng-class="{ 'paid text-muted' : purchase.paid }">{{ purchase.price | currency }}</p>
                    </div>
                    <div>
                        <p>{{ purchase.date | date : 'short' }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>